@import "../../vars.css";


.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 5%;
  gap: 30px;
  margin-bottom: 20px;
  /* width: 100dvw;
  /* border: 1px solid red;   */ 
}
.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  color: var(--color-text);
}

.languages{
  display: flex;
  align-items: center;
  gap: auto;
  width: 100%;
  justify-content: space-around;
}
.subHeading{
  font-size: 30px;
}

.language{
  display: flex;
  gap: 30px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  /* padding: 25px; */
}

.skillImageContainer img {
  width: 50px;
  /* border: 1px solid red; */

}

.skill p {
  font-size: 15px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

@media screen and (max-width: 830px) {
  .skills {
    justify-content: flex-start;
    margin-left: 0;
  }
  .languages{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    justify-content: flex-start;
  }
  .language{
    /* border: 1px solid red; */
    width: 90%;
    flex-wrap: wrap;
  }
}


